html {
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 3em; /* bottom = footer height */
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.site-footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3em;
	width: 100%;
}
